@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
	font-family: 'Montserrat';
}

.text_title {
	text-align: right;
	margin: 25px;
}

h1 {
	font-size: 30px;
	margin-bottom: 0;
}

.sub_title {
	font-size: 20px;
	margin-top: 5px;
	color: #585858;
}

.box1 {
	padding : 10px;
	margin: 25px;
	border: thick double #585858;
	box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.3);
}

h2 {
	padding-left: 15px;
	padding-bottom: 5px;
	margin-top : 10px;
	border-bottom : 1px solid #585858;
	border-right : 1px solid #585858;
	font-style: italic;
	font-size: 23px;
	color : #2E2E2E;
}

.text_imp {
	margin-left: 10px;
	padding: 0;
	margin-bottom: 2px;
	margin-top: 6px;
}

.main_text {
	font-size: 15px;
	line-height: 24px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.sub_box {
	overflow: hidden;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	color: #2E2E2E;
	padding-bottom: 0;
}

footer {
	background-color: #2E2E2E;
	color: #E6E6E6;
	text-align: center;
	font-size: 10px;
	padding: 2px;
}

.img {
	width: 30px;
	height: 30px;
}

.img_t {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 20px;
	padding-right: 15px;
}